{% extends "base.html" %}
{% block content %}

    <!-- ------------------------------------------------------------------------- -->
  
    <h1>Build-a-NEW-Blog!</h1>

    <form  method='POST' >
        <label> Title for you new blog:
	    <br/>
	    <input type="text" name='blog-title' value="{{blog_title}}" />
        </label>

	<p class="error"> {{title_error}}</p>
	<br/>
	<br/>
	<label> Say what you want: </label>
	<br/>
	<textarea  name="blog-text" rows="5" cols="50">{{blog_content}}</textarea>
	<p class="error">{{body_error}}</p>
	<br/>
	<br/>
	<input type="submit" value='Add Entry' />
    </form>
    <hr />

       
    <!-- ------------------------------------------------------------------------- -->
{% endblock %}
